[2019-04-04 15:52] FWeinb opened #1 "WebIDE Integration"
As discussed in Moddable-OpenSource/moddable#132 I am opening an issue here.

I just had a minute to test the integration of the new WebSocket-Debugger into the [WebIDE](https://github.com/FWeinb/moddable-webide). Looking well so far I started by just piping in the device log into the log area:

![image](https://user-images.githubusercontent.com/1250430/55569462-ea5c1d80-5701-11e9-8327-d4da8e71490

[2019-04-04 16:27] phoddie commented on #1
@FWeinb - Great start. I'm glad it worked for you too.

Yes, I expected this would be something we need to work on. It it is a little tricky. Let me explain. The upload of the mod is separate from installation of the mod. The install can only happen on a clean boot of a virtual machine (because the mod's symbols need to be remapped). That's why the virtual machine always restarts after installing

[2019-04-04 19:59] FWeinb commented on #1
@phoddie
Modifying the startup behaviour of `runmod` based on a HTTP request seams like the best way to go forward.

The mixed-content policy is very hard to work around. It is very strange that there isn't a way to ask the user for permission to establish an unsecured connection. For now it would be possible to host the WebIDE on plain `http` but that is currently not supported with `netlify` and

[2019-04-04 20:32] phoddie commented on #1
I'll make the changes to `runmod` so we try that out.

I am sympathetic to the challenges of browser security policies. I'm optimistic that we'll figure something out. That said, web security is security for the web, not the internet. While I am glad the browser vendors are working to improve the security of the web, IoT should not be obliged to support every decision made for the web. That would

[2019-04-04 22:57] FWeinb commented on #1
@phoddie
I had a litte bit of time and implemented a basic instruments view:
![image](https://user-images.githubusercontent.com/1250430/55593357-c3bad880-573b-11e9-98b3-36e3101efa79.png)

To implement the stepping debugger I need to refactor the WebIDE a lot. The file handling isn't optimal and I need to think about how to switch between the debugging and editor view.

I don't have that much time

[2019-04-05 00:16] phoddie commented on #1
@FWeinb -  Nice! Instrumentation is one of my favorite features. It is essential for embedded development. Happy to see it arrive so early here. ;)

I've committed changes to support running the mod when the debugger connects, as we discussed above. Let me know if it works for you. The docs are up-to-date with the details.

Regarding the workshop, our Mozilla friends invited us to help out with tw

[2019-04-05 01:29] lprader commented on #1
@FWeinb yes, definitely still interested in the potential for this in workshops! The most time consuming part of every workshop is getting all the necessary drivers and libraries installed and Moddable SDK tools built on everyone's laptop, so the WebIDE is really great since it cuts that part out of the process. The ability to load gists is perfect for that setting too.

There are a few features I

[2019-04-05 05:46] FWeinb commented on #1
@phoddie Great will have a look at it as soon as possible.

JS Conf EU sounds exciting, I am living in Germany so definitely in my part of the world but I am currently still a student (last semester) and do not know if I could find the time and money to go there.

@lprader
Thanks for the feedback. I will need to refactor most of the WebIDE going forward. So having these requirements is really valu

[2019-04-05 15:12] FWeinb commented on #1
@phoddie
I tried to integrate your latest changes and run into a different problem. The debugger is connected so fast that the ESP did not restart yet.
I solved it by not relying on the Timer to restart but rather block the HTTP request to `mod/install` until before the ESP is restarted.

##### main.js
[code]

It is working but the ESP is crashing instead of restarting cleanly:
[code]

[2019-04-05 15:42] phoddie commented on #1
Yikes. I'll take a look over the weekend. FWIW - usually some time is needed before restarting to allow the HTTP request to finish. Without that, the installer (IDE) cannot reliably receive the HTTP response code that the upload succeeded.

[2019-04-05 16:45] FWeinb commented on #1
@phoddie
Thanks. I investigated a little more and noticed that the main problem is that the `XsbugServer` isn't properly closed before restart which will never close the detached socket and the browser has no idea that the server closed the socket at all. Closing that socket would allow the browser to try to reconnect to the server.

[2019-04-05 16:52] phoddie commented on #1
Thanks. I was thinking along the same lines on my drive to the office. I will try closing the listeners immediately but waiting to restart until the HTTP install connection is complete.

[2019-04-06 21:48] FWeinb commented on #1
I did a rework of the ui and added the toolbar from vscode to separat the editing and debugging. I toke the moddable logo and did a little modification and integrated it, if that is something I should not have done I will remove it:

![image](https://user-images.githubusercontent.com/1250430/55675540-89c90e00-58c4-11e9-9b45-a13935ba3842.png)

The debugging button in the toolbar will reflect the co

[2019-04-07 18:01] phoddie commented on #1
@FWeinb - Nice progress. The logo is fun, but we probably should not break the Moddable logo into component parts.

I have a bunch of changes nearly ready for you to try (I'll post again when they are live). I believe they give the behavior needed for the WebIDE -- the WebSocket receives a close message when restarting and no new incoming connections are accepted once an install, or any other oper

[2019-04-07 18:25] FWeinb commented on #1
@phoddie
I though so too regarding the logo, I will revert back to just having WebIDE in the top bar.
Getting the deploy & debugging flow right is tricky but essential. It is awesome to see that you could build something usable this fast. Great to see this much progress in this short of time.

I am very excited to work on the WebIDE more.

[2019-04-07 22:45] phoddie commented on #1
Changes are pushed:

- Update this repository
- Update Moddable SDK
- Reapply the `xsPlatform.c/h` patches

I hope the crashes have been eliminated, though they were always sporadic for me so it is difficult to be sure.

[2019-04-08 21:39] FWeinb commented on #1
@phoddie Great work, got it working in the WebIDE.

Also got some improvements into the debugging, very crude UI but it is getting there:
![image](https://user-images.githubusercontent.com/1250430/55757681-d93e4400-5a54-11e9-8ac1-5cc5823dd90d.png)

On thing I have noticed it that if the debugging is stopped for to long the ESP8266 is crashing.

Also added some very basic file adding/removing:
![im

[2019-04-08 22:49] phoddie commented on #1
Great to see the pieces working together. I'll look into the crash. In my test, I never stop long at a breakpoint. It may just be the watchdog timer.

[2019-04-08 23:13] phoddie commented on #1
I can't seem to get a crash when stopped at a breakpoint. I modified xsbug.js to wait two minutes at a break and continue. That works:

[code]

How can I reproduce the problem?

Note that while stopped in xsbug, the http server is blocked since that is hosted by the virtual machine being debugged. Consequently, while stopped at a breakpoint none of the commands to install, restart, etc, will respo

[2019-04-09 06:55] FWeinb commented on #1
@phoddie
I just tested it again. It was not the long break but the unexpected closure of the WebSocket connection from the browser (when closing the WebIDE while connected to the device)

You can find a crash dump [here](https://gist.github.com/FWeinb/d9aac119c22c114ce744d9c0d3d71aa6)

[2019-04-09 18:14] phoddie commented on #1
Thanks. Indeed, closing the browser while at a break caused problems. Fixes forthcoming - will let you know when everything is in place to try.

[2019-04-09 21:51] FWeinb commented on #1
@phoddie
Added file drag-and-drop support to the file explorer

![image](https://user-images.githubusercontent.com/1250430/55837547-03116c80-5b22-11e9-87ac-d84814c683dd.png)

I don't now if this is necessary but folder support would be nice. A way to download the code in a zip with all the files to compile it locally would be nice to.

[2019-04-09 23:30] phoddie commented on #1
The upload works. While it seems to build the uploaded file, I couldn't seem to get it to execute -- the changes I made to mod.js to invoke it didn't seem to get deployed. I'll have to experiment with that further.

[2019-04-09 23:32] phoddie commented on #1
There are some changes to help with the debugging connection reliability you reported. You'll need to update the Moddable SDK and then apply the latest xsPlatform.c/h patches from the `runmod` repository.

- Disconnect while in the debug loop should no longer trigger the watchdog timer. Instead execution should continue.
- Incoming connection requests are ignored while stoped at a breakpoint (inco

[2019-04-10 00:15] FWeinb commented on #1
@phoddie
Pushed a quick fix for the not updated deployment. All files are saved before the compilation starts now.

I need to completely rewrite the file handling because it is currently very messy, that part was written as a first draft.

~~Will try your changes tomorrow (it's getting very late/early here)~~
Was curious and did test it. It is working really great now! The connection will stay ope

[2019-04-10 17:31] phoddie commented on #1
Very happy to hear the debugger connection behavior is trending in the right direction. I committed a small change to the `xsPlatform.c` patch to fix a memory leak when the network debugging connection is dropped. In practice that shouldn't matter here, but it was a problem for a scenario where the debugger connects and disconnects multiple times without an intervening reboot.

I was able to drag

[2019-04-13 15:44] FWeinb commented on #1
@phoddie
Had some time to work on this a little more. I build a proper storage solution and have a complete file manager now.

The latest changes to `xsPlatform.c` are very unstable for me. I get multiple crashes and can't redeploy at all. I need to rest the ESP to get it to work again.

The compiler is working with the full file tree but I think that `runmod` can't handle accessing modules in sub

[2019-04-13 16:38] phoddie commented on #1
That's troubling. I assume you are referring to the changes of [April 10](https://github.com/phoddie/runmod/commit/dac8cda005b99a1431287203e20a8c32f3881afb). Those are relatively monitor. I recall you said the changes of [April 9](https://github.com/phoddie/runmod/commit/e06c85839645878206873ade3686f7c5aa142109) were working well for you. I'll take a look.

I'm not sure I understand. If you would

[2019-04-13 19:09] FWeinb commented on #1
@phoddie
Yes. The changes made on April 10 are breaking the deploy workflow.

I am currently importing „ping“ as if it where in the root directory but in the file tree you can see it is located in the „src“ directory. If you change it to „src/ping“ runmod is complaining that it can’t find the module.

[2019-04-13 19:50] phoddie commented on #1
`runmod` does support paths such as `src/ping`. The build needs to be modified to put the correct path in the binary. I've updated the `ping` example and build instructions in the documentation  to show how to do that. With the changes, the ping module is now loaded from`network/ping` instead of `ping`.

[2019-04-13 20:16] phoddie commented on #1
Regarding instabilities, I don't see any crashes. I do see the WebIDE waiting. I was able to resolve that by being less aggressive about restarting the microcontroller to allow the TCP socket to close cleanly. Here's a quick hack to try to see if that also addresses the problems you observe. Change [line 122 of main.js](https://github.com/phoddie/runmod/blob/master/main.js#L122) from

	restart();

[2019-04-13 21:16] FWeinb commented on #1
@phoddie
Will look into it tomorrow. If i understand it correctly I have to mirror the structure of the build sources and then link them in that structure too.

I don’t know if the building could be simplified some more because currently everything his hardcoded inside of`xscl` might be good to look into it some more because I just did a very naive copy-and-past there e.g. currently it is not poss

[2019-04-14 01:08] phoddie commented on #1
More or less, yes. Currently, the archive has the `ping` as the module path when you intend `src/ping`.
Changes to the build are needed to resolve that.

[2019-04-14 01:10] phoddie commented on #1
Yes, we do intend to revisit that. What you did is working well for the moment, so it seems reasonable to keep going for a while to see what issues come up. Then we can take those into account when we do the revision of xscl.

[2019-04-14 16:17] FWeinb commented on #1
@phoddie
~~I did test adding `Timer.set(restart, 1000);` but that did not help. The main problem seams to be that I can't deploy a new bundle while the debugger is connected. That worked before. I am calling `socket.close()` before trying to upload a new bundle, but the ESP isn't closing the connection to the web browser. It looks like the route `http://runmod.local/mod/config/when/debug` isn't re

[2019-04-14 21:09] phoddie commented on #1
Ha! Glad to hear that it is working. I will try the iPad (!) later.

Just a reminder that when stopped at a breakpoint, the entire JavaScript virtual machine is blocked. Any new incoming TCP connections are refused. Any data sent over an open connection is deferred. That makes things a little tricky for the IDE.

Yes, that makes sense. If you can do that, it would be the most expedient path forwar

[2019-04-14 21:43] FWeinb commented on #1
I will implement the changes into xscl. Looking forward seeing improvements in the wasm build.

The last big hurdle is the mixed content policy especially in mobile safari and firefox because there is no way to allow these connections. The simplest solution would be to host the whole thing on http only; but that would then not allow us the get a deeper github integration because sending access tok

[2019-04-15 04:45] phoddie commented on #1
This does seem to be an ugly challenge. I was trying to think of an example of another project that has addressed a similar problem to use as a model.

[2019-04-16 22:49] FWeinb commented on #1
The debugging tap got some visual improvements:
![image](https://user-images.githubusercontent.com/1250430/56248911-2734f680-60aa-11e9-9094-9c7b01c3f261.png)

[2019-04-19 18:17] FWeinb commented on #1
I added very basic (local) project creation. You can now store multiple projects in the WebIDE and switch between them.

Just saw the Mozilla IoT [WebThings](https://hacks.mozilla.org/2019/04/introducing-mozilla-webthings/) announcement. Is that what the workshop you are planning will be about? Saw a reference to the [moddable WebThing](https://github.com/Moddable-OpenSource/moddable/blob/public/d

[2019-04-21 01:10] phoddie commented on #1
Cool. Yes, that works.

[2019-04-26 13:40] FWeinb commented on #1
@phoddie
I added support for binary files to the WebIDE and creating a very basic image viewer:

![image](https://user-images.githubusercontent.com/1250430/56811369-d905bd00-6838-11e9-8fe9-8cc225bbe071.png)

The compiler currently just ignores these files because I do not know how I would go about uploading these files to the device. I just noticed that many of the examples provided in the moddabl

[2019-04-27 01:11] phoddie commented on #1
@FWeinb - cool to see you added image support. When we dive into the wasm tools work, we plan to look at getting the other tools running. For images, they need to be run through [`png2bmp`](https://github.com/Moddable-OpenSource/moddable/blob/public/tools/png2bmp.js) to convert to a microcontiolller friendly format. That opens up some interesting questions, because the format varies depending on t

[2019-05-02 01:53] phoddie commented on #1
@FWeinb - I found some time to work on the protocol changes I've been thinking about. They are working on ESP8266,. I'm going to clean them up in the next day or two and post them for you to try. Once that works, bringing up the ESP32 is straightforward.

The new protocol completely eliminates the HTTP server, moving all communication to the WebSocket connection. That has a bunch of nice benefits:

[2019-05-02 05:35] FWeinb commented on #1
@phoddie awesome work! Eager to try this. Moving all communication to the web socket makes total sense.

[2019-05-02 16:37] phoddie commented on #1
Excellent. I'll try to have it committed before the weekend.

[2019-05-02 17:47] nicholasareed opened #2 "Debug on Mac?"
Are there patch files for using runmod on the simulator on a mac?

Following the build steps results in an error:
[code]

[2019-05-02 18:18] phoddie commented on #2
No. That would be a non-trivial undertaking. Focus is on microcontroller deployment.

[2019-05-02 18:18] #2 closed

[2019-05-04 00:46] phoddie commented on #1
Changes are committed. The docs have been updated as well. The patches changed, so be sure to reapply those. It is a lot of changes, so it wouldn't be surprising if there are problems. Let me know how it goes.

[2019-05-04 02:49] phoddie commented on #1
(Now with ESP32 support)

[2019-05-04 15:08] FWeinb commented on #1
@phoddie
Got it working in the WebIDE. There was a minor issue, it seams that you are using an update version of the core websocket module. For me `Server.handshake` and `Server.subprotocol` where `undefined`. I changed these to the numeric values and everything started to work.

![Animated Showcase of the WebIDE](https://user-images.githubusercontent.com/1250430/57181046-23b5b380-6e8f-11e9-95ff-5

[2019-05-04 15:34] phoddie commented on #1
@FWeinb That's great! I'm glad it wasn't too tough to make the changes. I will try it out a bit later.

Apologies for my oversight on the WebSocket constants. Those will be in our next Moddable SDK push.

FWIW -- we have some progress on the wasm tools work. That should be available soon.

[2019-05-04 20:24] nicholasareed opened #3 "Current install mod state? (http removed?)"
I noticed that the http server appears to have been removed in favor of websockets. I can't seem to get my moddable zero visible on the network (says `probe claimed runmod`) so that I can install a mod. Previously I was expecting to use simple browser requests ie `runmod.local/config/setName/mynewname`, but now I'm having trouble verifying runmod on the network (can't ping, doesnt show up in any m

[2019-05-04 20:32] phoddie commented on #3
Yes, HTTP support was removed. The reasoning is explained [here](https://github.com/phoddie/runmod/issues/1#issuecomment-488532380).

The previous code should still work. You can revert to [the commit right before](https://github.com/phoddie/runmod/commit/ca8d0aabccfb4f96a06f1581bfa11262cceac622) HTTP support was removed.

The mDNS support is unchanged, and verified to be working.

[2019-05-04 20:32] #3 closed

[2019-05-04 21:15] nicholasareed opened #4 "Graphics support (PIU)?"
I noticed that in the listed Built-In Modules (https://github.com/phoddie/runmod#host--built-in-modules) there doesn't appear to be graphics support.

Is that an upcoming feature (or one I overlooked), or outside the current scope for runmod?

[2019-05-04 22:01] phoddie commented on #4
A mod host needs to decide the features it wishes to support. This host does not provide a user interface framework or graphics library. You may add the Piu user interface framework to the [manifest](https://github.com/phoddie/runmod/blob/master/manifest.json#L2) trivially. That will also includes the fundamentals of Commodetto graphics.

	"include": [
		"$(MODDABLE)/examples/manifest_base.json",

[2019-05-04 22:01] #4 closed

[2019-05-06 16:25] nicholasareed opened #5 "Loading Texture (image) and additional scripts in mod"
I'm working on getting the piu/balls example running as a mod, but struggling to get the `balls.png` Texture loaded. The mod breaks on `throw new URIError("Texture " + it + " not found!");` I'm guessing that the Texture is expecting a url, but the image isn't included when building the mod from source (or the path changes, or the context is `runmod` and not the actual mod)?

This also happens when

[2019-05-06 19:08] lprader commented on #5
Are you including the image and the scroller module in the manifest of your mod?

[2019-05-06 19:11] nicholasareed commented on #5
Yes, although I think the `ping` mod actually answers my question pretty well.

[code]

I'm a bit unclear on how exactly to fix the scroller or piu/balls mod examples, but I *think* it is possible using the linking.

[2019-05-06 19:23] nicholasareed commented on #5
My scroller mod's manifest.json:

[code]

[2019-05-06 20:44] phoddie opened #6 "wasm tools"
This issue is for discussion of the XS and Moddable SDK tools for wasm.

Today we pushed changes to bring just about all the Moddable SDK tools to wasm. They include a new [`mcrun`tool](https://github.com/Moddable-OpenSource/moddable/blob/public/tools/mcrun.js) to build mods from manifests, just as `mcconfig` is used to builds hosts from manifests. In particular, `mcrun` supports adding and transf

[2019-05-06 20:46] phoddie commented on #1
@FWeinb  - Just a quick note here that we've pushed an update to the Moddable SDK with a substantial revision to the wasm tools support. I've opened a [separate issue](https://github.com/phoddie/runmod/issues/6) for discussion of that. It includes a link to documentation as well.

[2019-05-06 21:05] FWeinb commented on #1
@phoddie that looks great! I will look into it and try to update the WebIDE with it. Might be a good idea to make that manifest file editable from within the WebIDE too.

Really great to see your efforts in pushing these WASM tools.

[2019-05-06 22:24] lprader commented on #5
Whoops, I forgot you had to run `xcs` and `xsl` manually here. A new command line tool was just (as in, an hour ago) added to the Moddable SDK that simplifies the process of uploading mods. It's called `mcrun`. The source code is [here](https://github.com/Moddable-OpenSource/moddable/blob/public/tools/mcrun.js).

To use it, install the host as usual using `mcconfig`. Then install the mod using `mc

[2019-05-06 22:26] lprader commented on #5
Also, I recommend doing a clean build of tools before you use `mcrun`. So after you pull from top of tree, do the following:

1. Delete the `$MODDABLE/build/tmp` folder
2. Delete everything in the `$MODDABLE/build/bin` folder
3. Rebuild tools
[code]

[2019-05-07 00:22] nicholasareed commented on #5
I'm assuming the runmod instructions for replacing the xsPlatform files (and modPreference.c in modules/files/preference/) is still valid?

It also appears that building the wasm tools in ubuntu doesnt work (after installing emscripten):

[code]

Is it mac-only for now?

I was hoping to create a docker image to handle building mods, then a simple mobile app for updating a mod on a device.

[2019-05-07 00:59] phoddie commented on #5
wasm is its own special adventure. Getting it set-up for a given environment isn't always easy. Yes, we build on macOS but there's nothing about the wasm build that requires that. We are definitely not at the point of providing support for building with wasm.

The patches still apply for building a useful `runmod`. `modPreference.c` is now part of the Moddable  SDK so I've removed that. Thanks for

[2019-05-07 02:42] phoddie commented on #5
That would cool. THere's no particular reason to use wasm for that. If you are running the tools in the cloud, you can just run the native command line tools for your host platform.

[2019-05-07 06:07] nicholasareed commented on #5
I'm a bit confused as to the pieces required. My understanding is:
 1. use `mcconfig` for building and deploying runmod to my m-zero
2. then I can use `mcrun /path/to-mod` to build the modballs `mod.xsa` file (which gets put into modballs/build/)
3. then my m-zero starts up, connects to wifi, and creates a websocket endpoint at runmod.local:8080, which I can use to install the mod (ideally just us

[2019-05-07 18:13] phoddie commented on #5
Let's try to untangle things.

`mcrun` is a tool in the Moddable SDK. All tools are available as native command line tools built for your host platform. They have nothing to do with Web Assembly. We also provide an experimental WebAssembly version of most of those same tools for execution in the browser.

This works well for me on macOS this morning:

- Reset your device to a known state: `esptool

[2019-05-07 18:33] nicholasareed commented on #5
Thank you, I'll get that working.

To untangle a bit further: can I separate build/deploy? I'd like to run the build step for the mzero (`mcconfig -d -m -p esp/moddable_zero ssid="moddable-guest"`) in linux (some cloud server), and then get the built files, and deploy using `esptool.py path/to/my/bundle` (or similar) from my mac.

Same for mods: build in the cloud, deploy from somewhere else?

As

[2019-05-07 20:29] FWeinb commented on #6
I updated the WebIDE with support for `mcrun`. The only thing I needed to change was changing the build environment to `worker`. Here is a diff:
[code]

I also added support for json files in the WebIDE, all projects require a `manifest.json` in the root now.

![WebIDE](https://user-images.githubusercontent.com/1250430/57330909-aa7cc180-7117-11e9-8a17-72478b802d8e.gif)

[2019-05-07 20:31] phoddie commented on #6
Nice. That was quick. I'll give it a look a little later.

[2019-05-08 18:46] phoddie commented on #5
The build provided in our repository does both build and deploy. That is correct. It isn't particularly difficult to modify that behavior, but it isn't something we have yet seen a need to officially support. Adding features to the build is a significant undertaking as there are three different hosts (macOS, Linux, Windows) and many different microcontrollers (ESP8266, ESP32, Gecko family, Qualcom

[2019-05-08 18:46] #5 closed

[2019-05-08 18:53] nicholasareed commented on #5
Am I correct in thinking that the modification would be:
1. Add new flag to mcconfig (and mcrun that gets passed to mcconfig) to suppress deploy
2. Modify makefile template to use flag to exclude the esptool.py deploy lines

Not diminishing the effort required, just trying to spec a little. Is this something you'd accept a PR for?

[2019-05-08 20:06] FWeinb commented on #6
@phoddie
I just pushed another update to the WebIDE, the mcrun tool could only be used once before. I was not cleaning up correctly.

The moddable zero was in the mail today (thank a lot) and got it running with the WebIDE (click to see a video):
[![Video Preview](https://user-images.githubusercontent.com/1250430/57404810-2e4cb180-71dd-11e9-8d02-dd2234296720.jpg)](https://vimeo.com/334983445 )

[2019-05-08 20:12] phoddie commented on #6
Nice demo. Great to see it running with the display on Moddable Zero.

FWIW - I pushed a couple reliability fixes to the install upload last night.

[2019-05-08 20:32] FWeinb commented on #6
I just tested these changes, everything is working fine!

I think drag&drop support for adding files and folders is needed. I would also like to include drag and drop support for files inside the file explorer to reorganise projects. I might be able to reuse the vscode file explorer to handle all this stuff. Need to figure out how to do that.

Another thing is that currently projects aren't really

[2019-05-09 00:51] nicholasareed opened #7 "Where is the logic for writing a new mod?"
I'd like to re-implement installation of mods using http, but the current Websocket logic is opaque on how mods are installed. Where in the [main.js](https://github.com/phoddie/runmod/blob/master/main.js) or [main.c](https://github.com/phoddie/runmod/blob/master/main.c) is logic for installing a mod, or any of the [remote commands](https://github.com/phoddie/runmod#remote-commands) infrastructure?

[2019-05-09 17:28] phoddie commented on #7
The answer is in [Issue 3](https://github.com/phoddie/runmod/issues/3#issuecomment-489363220), titled "Current install mod state? (http removed?)" opened by you.

[2019-05-09 17:28] #7 closed

[2019-05-09 17:34] nicholasareed commented on #7
I meant, where is the code for installing/flashing a mod? The [Execution Environment](https://github.com/phoddie/runmod#execution-environment) section says the mod is dynamically loaded (via the `require('mod')` line I expect), but I can't follow how that comes into existence (in the http or websocket code).

I guess I expected to find a "store this xsa data as the mod" function somewhere, but it

[2019-05-09 17:41] phoddie commented on #7
The [link in Issue 3](https://github.com/phoddie/runmod/commit/ca8d0aabccfb4f96a06f1581bfa11262cceac622) to the commit is what you are looking for, if I understand you well. It contains the excised `ModServer` which is the support for receiving an upload of a mod an installing to the correct location in flash. The mod install process begins at [line 68](https://github.com/phoddie/runmod/blob/ca8d0

[2019-05-09 17:53] nicholasareed commented on #7
Thank you, I'll keep trying that route. The WS missing all that stuff had me concerned, and I wasn't able to get deploy working using that commit after a day of hacking. I think I may have a mismatch with the modPreference, or xsPlatform files.

Question: Should I be able to use the \*old\* method of flashing (from the http commit), alongside the new WS method? The old code had both alongside, so

[2019-05-09 18:00] phoddie commented on #7
Yes. They are two different ways to write the same data to the same location.

[2019-05-09 20:02] nicholasareed commented on #7
Working, thanks!

[2019-05-09 22:14] nicholasareed commented on #7
Able to get modballs deployed (thanks!), but spent some time on converting piu/drag or piu/scroller, and failed at both. Those include examples on using multiple js files, as well as touch input, and fonts.

I tried updating the runmod manifest.json to include the `$(MODULES)/pins/digital/*` modules, and preload `digital` as well as increase the creation.stack, config.touchCount, and resources (fo

[2019-05-09 22:30] phoddie commented on #7
In requesting many changes to `runmod`, you seem to be assuming you know why your attempt to deploy the Piu drag failed. I don't see anything to back that up.

[2019-05-10 01:24] nicholasareed commented on #7
Sorry, not quite sure what you mean by "requesting many changes to runmod."  Not trying to be coy; the deploy works, it just doesn't run the mod and I'm struggling to get debugging working.

When trying to build a drag mod using `mcrun`, I would receive an error
[code]

which I took to mean that I needed to add `"$(MODULES)/pins/digital/*",` to `modules`, and `"digital"` to `preload` (in runmod's

[2019-05-10 01:49] phoddie commented on #7
It appears you are simply re-using the drag application's manifest intended for use with `mcconfig` and hoping it will work with `runmod`. It did not.

Here's the fundamental problem. This project is an **advanced topic**. The documentation states that. The fact that it is hosted outside the Moddable SDK suggest that. You are cutting your teeth on the Moddable SDK with it. It isn't a good idea. Th

[2019-05-10 02:01] nicholasareed commented on #7
I did put in a bit more work (and documentation and source reading and debugging) than just blindly tossing values into the manifest :) But, I definitely don't fundamentally understand most of what is happening in the handoff/running of the mods.

;) posed that in a different thread I think. I appreciate the candor and am happy to wait and see how runmod develops. Apologies if I hindered anything!

[2019-05-10 09:18] FWeinb commented on #1
@phoddie
I think you will like this! Have some progress regarding the debugging story inside the WebIDE. I did not have time to implement the the exception handling but local/global/module frames are implemented as well as the list of call sites. I will need to integrate all of that a bit more with the file editor but it is a start.

As always, I made a little video showing it in action (click on

[2019-05-10 15:52] phoddie commented on #1
Superb! And it is **fast** too.

[2019-05-10 18:22] FWeinb commented on #1
While implementing this I noticed ~two~ three things about the communication with the device.

* Currently if we connect to it the device performs a debug stop and needs to get the `<go/>` command to allow to install a new mod.

* Another thing was that explicitly closing the socket to the device from the client using `socket.close()` seams to destroy the underlying socket and I am not able to con

[2019-05-10 20:23] phoddie commented on #1
All clear points. I will look into those and get back to you.

[2019-05-11 03:27] phoddie commented on #1
In my testing, this works.  I tested with the `xsbug.js` script by waiting three seconds after connecting and sending a step, install, and restart:

	setTimeout(function() {
		xsb.doStep();
		xsb.doInstall(0, helloWorldXSA);
		xsb.doRestart();
	}, 3 * 1000);

If you still see the problem after updating, please let me know the steps to reproduce it.

The microcontroller was not handling the close r

[2019-05-11 11:04] FWeinb commented on #1
Thanks for looking into this

Regarding that example:
[code]

As I am thinking about it my initial idea was to remove the need for doing a doStep there to conceptually split the concerns of the installation process from the debug process. I might not be explaining this good enough. Just from a conceptual standpoint it is strange to have to do a doStep before you can install a new module onto the d

[2019-05-11 15:30] phoddie commented on #1
The communication protocol does not require you to stop in the debugger in order to install. I gave that example as I understood your previous comment as indicating install did not work when stopped.

That said, I think you should. Depending on the host, you may be overwriting the executing byte code for the currently running mod. That is effectively corrupting the running code and will surely lea

[2019-05-11 19:32] FWeinb commented on #1
Okay that makes sense. Let’s keep it as is.

Yes I did mix that up.
But isn’t this dangerous in regards to your previous point? After and install the device must be restart, continuing will lead to a crash on the esp32.

[2019-05-11 23:37] phoddie commented on #1
My feeling is that a debugging interface is inherently dangerous because it needs broad access to do its job. There are lots of ways to crash or otherwise cause havoc. I'm not sure it is possible to make it safe in all case. I fear it could be a lot of work to try.

At the moment, my focus is making the debug inteface functional, reliable, and fast. That's already challenging. Any tool using the d

[2019-05-13 17:53] FWeinb commented on #1
@phoddie
Got the breakpoints from the WebIDE working.
Click to see it in action:
[![WebIDE with debugging stop](https://user-images.githubusercontent.com/1250430/57642888-b3a6dc00-75b8-11e9-887d-6c70ba029d56.jpg)](https://vimeo.com/335922385)

[2019-05-13 17:55] phoddie commented on #1
Very nice. It works just the way it should. ;)

[2019-05-13 22:48] FWeinb commented on #1
After some testing today I ran into an issue that I can't solve. The Moddable Zero is always crashing after uploading the `mod` via the web browser. I tried to reflash `runmod` but I still run into [these two crashes](https://gist.github.com/FWeinb/19df41ecfbc523026404bd6cd3b7905d).

I tried to not run the mod on boot but still after trying to flash it via the WebIDE the ESP is crashing.

[2019-05-13 23:04] phoddie commented on #1
The first stack trace is the installation of a new mod after rebooting (`fxMapArchive`). I've never seen a crash there. Either the mod data is a corrupt or it is a previously unseen bug in the install process.

The second trace is less obvious. It looks like it is trying to load and run the mod  (`fxResolveModule`). That it crashes again might be because the mod data is corrupt, or something else

[2019-05-14 20:09] FWeinb commented on #1
@phoddie
Yes, there was indeed a corrupted `mod` stored on the device. Erasing the flash and re-flashing `runmod` fixed it. Still strange how this could have happened, I can't reproduce it now.

[2019-05-14 22:02] FWeinb commented on #1
@phoddie
Added breakpoints to the debugging tab to have an easy way to enable/disable them during runtime.

[![Debugger with toggleable breakpoints](https://user-images.githubusercontent.com/1250430/57735355-964f3c00-76a4-11e9-915e-9a083fef1262.jpg)](https://vimeo.com/336215329)

[2019-05-14 23:01] phoddie commented on #1
Nice. First feature debugging feature not also in xsbug.

[2019-05-21 05:15] phoddie opened #8 "USB transport"
This issue is for discussion of using `runmod` with WebUSB.

I pushed changes to `runmod` today that provide the same functionality over USB as is available using WebSockets. The [documentation](https://github.com/phoddie/runmod/blob/master/readme.md#using-webusb) has been updated with the relevant details  throughout. The [xsbug.js example ](https://github.com/phoddie/runmod/blob/master/html/xsbu

[2019-05-21 18:15] FWeinb commented on #8
@phoddie
I looked into it but I can't get it to work. I reapplied the patches and build  `runmod` new.

I tested it with the provided example but noticed that there is a typo in [line 79](https://github.com/phoddie/runmod/blob/master/html/xsbug.js#L79). But that is not the problem. I enabled the `tracePacket` function (changing the data [here](https://github.com/phoddie/runmod/blob/master/html/xsb

[2019-05-21 18:19] phoddie commented on #8
Thanks for giving it a try. Sorry about the typo. I'll fix that. It must have crept in when merging.

The driver isn't unloaded if there are still instances reported by `kextunload`. Let's fix that first. Sometimes there are zombie instances in the terminal. Try quitting terminal, restarting it, and then unloading again. If that fails, reboot and try again.

Once you are running,  make sure the se

[2019-05-21 18:21] FWeinb commented on #8
@phoddie
Right after I hit send I noticed that it was configured for the ESP32. I tested with the moddable zero. Changeing to 921600 fixed everything. The `kextunload` seams not to be the issue.

[2019-05-21 18:26] FWeinb commented on #8
@phoddie
There seams to be another xsbug message type called `parsererror` that is not implemented yet. I am getting `TypeError: XsbugMessage[node.nodeName] is not a function`

[Edit]
I see. This is the behaviour of the DOMParser. There seams to be a malformed XML document. the DOMParser will insert the `parsererror` node into the document.

[Edit2]
I am getting malformed usb transmission. There a

[2019-05-21 18:45] phoddie commented on #8
@FWeinb - as noted in the code, WebUSB itself doesn't seem to do much buffering itself. That can lead to dropped characters. One option is to slow down the connection, which is easy but undesirable as it makes everything slower. Another is to increase the buffer size. It is reliable for me as committed but your computer may be different. The revive buffer is set to 32 KB at line 234. The USB read

[2019-05-21 19:03] FWeinb commented on #8
@phoddie
That had no effect. Still getting corrupt USB data.

[Edit]
[Here](https://gist.github.com/FWeinb/addd74bf54f2ebba359f706eecb5cde1) is an example document (formatted)

[2019-05-21 19:10] FWeinb commented on #8
@phoddie
That is strange! Commenting out the `tracePacket` function solved the issue. But not completely. Sometimes I still get broken data.

[2019-05-21 19:24] FWeinb commented on #8
@phoddie
Okay. Sorry for spamming this thread, figured it out. I compiled the `runmod` without WiFi support but `mdns` is still trying to publish the hostname. That lead to UDP send errors that crashed the device and broke the USB connection.

[2019-05-21 19:36] phoddie commented on #8
Good catch. I'll look at fixing `runmod` so it doesn't assume there is a network connection. Until yesterday, that was a safe assumption. ;)

[2019-05-21 19:45] FWeinb commented on #8
@phoddie
Just FYI the arguments of `padStart` must be swapped [here](https://github.com/phoddie/runmod/blob/master/html/xsbug.js#L458).

[2019-05-21 23:15] phoddie commented on #8
Update to `main.js` pushed to only start the mDNS and WebSocket services if there is a Wi-Fi connection. You'll need to update the Moddable SDK for that to work properly on ESP8266.

[2019-05-21 23:56] FWeinb commented on #8
@phoddie
I pushed a new version that supports both WiFi and USB connections. After some initial problems everything seems to work fine. It is a little strange that one has to unload the driver but understandable as the WebUSB spec seams very low level in regards to handling devices.

**The best part is that WebUSB is working over https without any warnings!**

Could not test with the latest change

[2019-05-21 23:59] phoddie commented on #8
That was very quick! I will check it out later. Get some rest.

It isn't perfect. For beginning users, that may be just fine. The IDE may be able to provide guidance to users when the driver is installed. I have a trace in the example in that case, for example.

Wahoo!

[2019-05-22 00:04] FWeinb commented on #8
That sounds like a great idea. I copied your error message and show it in the Log panel but that message could be improved.

Any idea what the implementation status of WebUSB is for Firefox? It seams that Chrome is the only browser shipping this API.

[2019-05-22 00:13] phoddie commented on #8
Since the browser knows the host OS, it could provide pretty specific advice.

As far as I know, no other browser has indicated an intent to support it. And all the editors of the WebUSB specification are from Google. ;)

[2019-05-22 17:46] phoddie commented on #8
@FWeinb I tried out the WebUSB support. It is working very nicely. Congratulations. The cycle for making a change, compiling, downloading, and running is remarkably fast now.

Using ESP32 I was able to exercise all features. Getting and setting runtime breakpoints works well too. On ESP8266, the mod upload reported success but it did find the mod on restart. I expect that is a problem with my loca

[2019-05-22 18:07] FWeinb commented on #8
@phoddie
Great! Glad it is working for you. I still have some problems with the communication over usb being strange on the moddable zero. Sometimes the data received broken (broken xml), I don't know why that would be though.

It might be better to lower the baud rate on the ESP8266 too? As I am understanding it WebUSB isn't supported in workers yet, I might suspect that there are some problems r

[2019-05-22 18:16] phoddie commented on #8
Maybe. I hate to lower the baud rate. I'd rather increase it on ESP32. ;) Let me look into it a bit further.

[2019-05-23 04:49] phoddie commented on #8
I committed a couple changes to `xsbug.js` for WebUSB.

The first is work that @lprader and I did this afternoon to use the default endpoints rather than hardcoding them. This allows the code to work with boards from oddWires, and presumably others that use the same CP2104 part from SiLabs. (Moddable Zero uses CP2102).

The second is a rework of `readLoop`. I thought the problem with dropped input

[2019-05-23 07:23] FWeinb commented on #8
@phoddie
Great work, I merged @lprader PR (thanks) but had to fix some minor things. I still get malformed data sometimes right after a restart.

Here are the issues I had:
* [xsbug.js#259](https://github.com/phoddie/runmod/blob/master/html/xsbug.js#L259) should be `usb.configurations[0]` I guess because `usb.configuration` is `null` for me there.
* [xsbug.js#376](https://github.com/phoddie/runmod

[2019-05-23 14:04] phoddie commented on #8
@FWeinb - thank you for the corrections. I'll apply those. For whatever reason, `usb.configuration` is non-null on my computer.

You will always receive that. The microcontroller ROM sends some basic information at start-up. On ESP8266 that is sent at 76800 baud and ESP32 at 115200. Since that is a different baud rate than the WebUSB serial port is configured for, it appears as garbage. The Moddab

[2019-05-23 17:27] FWeinb commented on #8
@phoddie
Yeah that `usb.configuration` thing is very strange.

Regarding the malformed data. I get corrupt xml data from xsbug after a restart The `readLoop` is breaking on an `parsererror` node that will be inserted by the DOMParser if the XML was corrupted.

[2019-05-23 17:45] phoddie commented on #8
Maybe the `parseerror` is caused by data in buffers from before the restart? I added a `reset` call to reinitialize the local receive buffer and call that immediately after restarting. With that in place, I was able to install/restart modBalls dozens of times in a row on both ESP8266 and ESP32 without a problem. That change is committed for your reference.

[2019-05-23 18:36] FWeinb commented on #8
@phoddie
Must be my machine then. I don't know if it has something to do with the usb-c port, or the fact that I can't `sudo kextunload -b com.silabs.driver.CP210xVCPDriver` without getting the `(kernel)     Kext com.silabs.driver.CP210xVCPDriver class com_silabs_CP210xGPIO has 1 instance.` response. Even after a fresh restart and only plugging in the device. I have this version installed:  `com.s

[2019-05-23 18:43] phoddie commented on #8
The XML fragment is clearly missing data. That's not good.

It could be configuration dependent. Still, let's not give up as there's some chance others will have the same configuration. FWIW - I'm using a USB-C connection too.

At one point, I had two copies of the SiLabs driver installed. That caused some bizarre problems. Maybe you do as well? In my notes, I have these two paths as places where

[2019-05-23 19:01] FWeinb commented on #8
@phoddie
I only have the driver in `/Library/Extensions/SiLabsUSBDriver.kext` I just tested on my old machine and there everything is working fine, kext unloading is returning no error. No idea what this machine is doing with the USB driver stuff.

[2019-05-23 19:10] FWeinb commented on #8
@phoddie
Uninstalling the driver completely seams to be working but is very uncomfortable.

[2019-05-23 19:12] phoddie commented on #8
Well, at least it can work. That's reassuring. But, yes, it is inconvenient for development to have to reboot to update the host.

[2019-05-23 19:14] FWeinb commented on #8
@phoddie
Heh might be a little risky but
[code]

is doing the trick. So I don't have to reboot all the time.

[2019-05-23 19:15] phoddie commented on #8
Curious. There is something to be learned here.

[2019-05-27 13:37] phoddie commented on #1
@FWeinb - Both of us have occasionally encountered situations where a mod is corrupt. This seems to happen when the transfer is interrupted -- for example by unplugging the device in mid-transfer. The transfer is usually so fast that there isn't much opportunity to happen, although over Wi-Fi stalls do happen so it is more likely. Yesterday, I found a bug in the SPI read/write functions that cause

[2019-05-27 18:15] FWeinb commented on #1
@phoddie
I will try to update the WebIDE as soon as I can.

[2019-05-27 20:35] FWeinb commented on #1
@phoddie
Update the WebIDE.

I guess I have circled in on my problem regarding malformed xml data. If you set a breakpoint (e.g. by adding one using the WebIDE) and re-upload the same mod, in 99% of all cases I will get malformed XML from the device. No idea if this is related just wanted to let you know.

[2019-05-27 21:40] phoddie commented on #1
A (more or less) reproducible case is great. I assume this is only over serial/USB, not WebSockets. Once you upload the mod, you then restart, I assume. What are the commands that get sent after that?

[2019-05-28 03:36] phoddie commented on #1
I ran into a situation this weekend where during the mod upload I was also configuring the debugger (setting breakpoints, etc). That was too much over serial for the ESP8266 and bad things happened. I fixed it by making sure that during an install nothing else was happening over serial. Since after installing the next step is rebooting, that isn't a problem. Perhaps related to your serial corrupti

[2019-05-30 04:04] phoddie commented on #1
@FWeinb - I just pushed some changes.

- The patches are now removed from this project as they are integrated in the Moddable SDK. That seems to be working well.
- There is a new command to set the time, timezone, and daylight savings on the device from the IDE. This is convenient as there is no battery backed real time clock. It works well on ESP8266; on ESP32 the time is set but the timezone and

[2019-05-31 09:20] FWeinb commented on #8
@phoddie
Had some time on the train and could circle in on the persisting connection problem via usb. I used the XsbugLogin event to determine when the device was ready. That was a mistake. The problem I am running into is that `this.currentMachine` is undefined thus sending the wrong preamble to the device. When executing a debug command.

[2019-10-16 05:26] imranaalam opened #9 "does it have a video tutorial? its quite difficult to understand for intermediate ESP32 user"
can you lead to some videos or starting material ( may be written or authored by someone else for some other purpose)

[2019-10-16 17:18] phoddie commented on #9
Hello, @imranaalam. I'm glad you find the `runmod` work interesting. It is an important direction for us.

At this time the `runmod` work is very much an advanced topic right now and still considered experimental. Once it matures, we intend to integrate it into the Moddable SDK. At that time, additional materials will be provided to make it accessible to more developers.

Or perhaps I have misunde

[2019-10-21 02:11] #9 closed